*.pyc
letters/
serverlog.txt
metadata.txt
.*
*.save
!.gitignore
tmux-servers
old/
mail.*
venv/
storage/
private/
login
blacklist
strikelist
mbox
slack_message.sh
DAVIDFARACI/
OPENTOWER/
POPULUS/
unsubscribers.txt
blastlist.txt
authorized
