<html>
<head>
<title>MARGY Admin</title>
{% if request.MOBILE %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobilesheet.css') }}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
{% endif %}
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

<p class=spaced>Use the form below to upload your confidential letter of recommendation. The system accepts <span class=u>only PDFs</span> of no more than 16 MB.</p>
<form action="/letter" method="post" enctype="multipart/form-data">
    <p>Letter-Writer&rsquo;s First and Last Name:<br>
        <input class=txtinput type=text name="rec_fname" id="rec_fname" required>&nbsp;&nbsp;<input class=txtinput type=text name="rec_lname" id="rec_lname" required></p>
    <p>Applicant&rsquo;s First and Last Name:<br>
        <input class=txtinput type=text name="app_fname" id="app_fname" required>&nbsp;&nbsp;<input class=txtinput type=text name="app_lname" id="app_lname" required></p>
    <p>Applicant&rsquo;s Email Address:<br><input class=txtinput type=email name="app_email" id="app_email" required></p>
    <p>Confirm Applicant&rsquo;s Email Address:<br><input class=txtinput type=email name="app_emailc" id="app_emailc" required></p>
    {% if request.MOBILE %}
        <p><label class=browse><input type="file" name="letter" id="letter" required><span>Attach File</span></label><p>
    {% else %}
        <p><input type="file" name="letter" id="letter" required><p>
    {% endif %}
    <input class="txtinput font" type="submit" value="Submit" name="submit" id="sumbit">
</form>
{% block status %}
{% endblock %}
{% endblock %}
