{% extends "index.html" %}
{% block contents %}
<p class=b>Email Blast List</p>
<p class=txt>You may use this form to add/remove your email address to/from MARGY&rsquo;s email blast list. We use this list only to inform users of important information, such as new features or outages. If you have questions, please email <a href="mailto:admin@margymail.com">admin@margymail.com</a>.</p>
<form id=blastaddrm action="/blastaddrm" method="post" enctype="multipart/form-data">
<p>Email Address:<br>
    <input class=txtinput value="{{ email }}" type=text name="addr" id="addr" required></p>
    <button type="submit" name="submit" class=upbutton value="Add">Add</button>&nbsp;
    <button type="submit" name="submit" class=upbutton value="Remove">Remove</button>
</form>
<br>
{% block status %}
{% endblock %}
{% endblock %}
