<html>
<head>
<title>Delivery Failed</title>
</head>
<body style="line-height: 1.3em;">

<p style="font-family: georgia; font-size: 1.1em; letter-spacing: .2px; margin: 0 0 1.7em 0;">MARGY received a request from this address for delivery of file {{ file }}. Unfortunately, {{ file }} appears to be corrupt. Please ask your letter-writer to upload your letter again and use the new mailto code you receive. We apologize for the inconvenience.</p>
<p><img style="width:170px; height:32px;" alt="" src='http://margymail.com/signature'></a></p>
</body>
</html>
