{% extends "index.html" %}
{% block contents %}
<p class="credits lspaced">Conceived, designed and managed by <a target="_blank" href="http://davidfaraci.com">David Faraci</a>.</p>
<p class="credits spaced">Developed by <a target="_blank" href="http://davidfaraci.com">David Faraci</a> and <a target="_blank" href="https://www.k-state.edu/philos/people/faculty/leachkrouse.html">Graham Leach-Krouse</a>.</p>
<p class="credits lspaced">Site powered by <a target='_blank' href="http://flask.pocoo.org/">Flask</a> &copy; 2015 Armin Ronacher and contributors.
<p class="credits lspaced">Automated email server adapted from <a target='_blank' href="http://jpsarda.tumblr.com/post/16467450024/recipe-automatic-email-processing-with-python">@jpsarda</a>.
<p class="credits lspaced">Mobile &ldquo;hamburger&rdquo; menu adapted from <a target='_blank' href="https://codepen.io/g13nn/pen/eHGEF">CodePen</a>.
<p class="credits lspaced">Lots of code snippets due to the community at <a target='_blank' href="http://stackoverflow.com/">Stack Overflow</a>.
<p class="credits spaced"><span class="keys">FONT</span> &copy; 2004 Typadelic Fonts.
<p class="credits spaced">MARGY is copyrighted under the <a target='_blank' href="https://github.com/davidfaraci/margy/blob/master/LICENSE.txt">MIT License</a>.</p>
<p class="credits spaced">Bug reports and feature requests to <a target='_blank' href="https://github.com/davidfaraci/margy/issues">GitHub</a>.
<p class="credits spaced">Questions and comments to <a href="mailto:admin@margymail.com">admin@margymail.com</a>.
{% endblock %}
