{% extends "index.html" %}
{% block contents %}
<p class="credits lspaced">Conceived, designed and managed by <a target="_blank" href="http://davidfaraci.com">David Faraci</a>.</p>
<p class="credits spaced">Developed by <a target="_blank" href="http://davidfaraci.com">David Faraci</a> and <a target="_blank" href="https://www.k-state.edu/philos/people/faculty/leachkrouse.html">Graham Leach-Krouse</a>.</p>
<p class="credits spaced">Server space donated by someone, we hope!</p>
<p class="credits spaced">Questions and comments to <a href="mailto:admin@margy.davidfaraci.com">admin@margymail.com</a>.
{% endblock %}
