<html>
<head>
<title>Letters Delivered</title>
</head>
<body style="line-height: 1.3em;">

<p style="font-family: georgia; font-size: 1.1em; letter-spacing: .2px; margin: 0 0 1em 0;">MARGY has made the following deliveries:</p>
<p style="font-family: georgia; font-size: 1.1em; letter-spacing: .2px; margin: 0 0 1em 0;">
    <b>Letter-Writers:</b> {{ recs }}<br>
    <b>Applicant:</b> {{ app }}<br>
    <b>Recipients:</b> {{ sentto }}<br>
    <b>File Names:</b> {{ cfn }}<br>
    {% if failed != "" %}
    <b>Not Sent:</b> {{ failed }}
    {% endif %}
</p>
<p style="font-family: georgia; font-size: 1.1em; letter-spacing: .2px; margin: 0 0 1.7em 0;">Confirmation emails have been sent to the applicant and to the email address that sent the request (if different). For questions, or if you believe you received this email in error, please contact <a style="text-decoration: none" href="mailto:admin@margymail.com">admin@margymail.com</a>.</p>
<p><img style="width:170px; height:32px;" alt="" src='https://margymail.com/storage/signature.png'></a></p>
</body>
</html>
