{% extends "instructions.html" %}
{% block choice %}
<p class="txt b">Detailed Instructions</p>
<ol class=txt>
    <li>Ask your letter-writers to go to <a href="http://margymail.com:8080/upload">http://margymail.com<span class=shy>&shy;</span>:8080/upload</a> and upload your letters of recommendation. They will be asked to input their full name, your full name, and your email address.
    <li>Once a letter-writer has uploaded their letter, MARGY will encrypt the letter.
    <li>MARGY will send you an automated email including your letter's unique <span class=i>mailto code,</span> made up of the relevant last names, followed by your decryption key (for duplicate name combinations, an integer will follow the names). Thus, for example, a letter from John Doe for Jane Smith might be assigned mailto code SmithDoe2_Q9LZ67PR0. The non-key part of the mailto code will be your letter&rsquo;s filename (here, SmithDoe2.pdf).
    <li>Gather the email addresses to which that letter is to be sent and go to <a href="http://margymail.com:8080/confidentiality">http://margymail.com:<span class=shy>&shy;</span>8080/confidentiality</a> to check whether those addresses are on MARGY&rsquo;s whitelist.
    <li>If any are <span class=i>not</span>, send an email to <a href="mailto:admin@margymail.com">admin@margymail.com</a>, Subject: Whitelist Addition, with those email  addresses and links to official job ads <span class=i>which ask that letters be sent to those email addresses.</span>
    <li>Wait for email confirmation that the addresses have been added to the whitelist.
    <li>Send an email to <span class=i>your_mailto_code</span><span class=shy>&shy;</span>@margymail.com (e.g., SmithDoe_Q9LZ67PR0<span class=shy>&shy;</span>@margymail.com). In the body of the email, include the whitelisted email addresses to which you want that letter sent.
    <li>MARGY will automatically crawl your email and pull out any email addresses (including the reply-to address, in case it is the school emailing, not you).
    <li>MARGY will  send emails to all and only the whitelisted email addresses with your letter attached, using your key to decrypt the file first. The body of the email will be a form letter including your name and the letter-writer&rsquo;s name, and explaining that the letter has been sent by MARGY&rsquo;s secure service.
    <li>Wait for an automated email from MARGY, confirming which email addresses your letters have been sent to.
</ol>
{% endblock %}
