{% extends "index.html" %}
{% block contents %}
<p class=beta><br><span class=b>NEW FEATURE!</span><br><br>
We are pleased to announce that users can now deliver letters using a <a href="deliver">Web-Based Form</a>. In addition to making deliveries easy, this allows users to send up to 10 letters each to up to 10 email addresses. The deliveries will arrive as a single email with multiple attachments, so hiring entities won't have to deal with multiple emails per applicant.<br><br></p>

<p class=txt>Applicants on the academic job market spend thousands of dollars a year to have professional dossier services handle their confidential letters of recommendation. Some of this requires staff involvement: filling out forms, uploading to proprietary sites, etc. But a good deal of it is <span class=i>just sending emails.</span> The only reason a middleperson is necessary is because the emails need to include a confidential attachment.</p>

<p class=txt>MARGY replaces that middleperson with a <span class=i>free</span> automated system. Letter-writers upload letters to MARGY&rsquo;s secure server; applicants tell the system where to email those letters. Confidentiality is maintained via a <span class=i>whitelist</span>; the system will only send letters to email addresses that have been confirmed as being maintained by a relevant hiring entity.

<p class=txt>Why the tortured acronym? The name is a tribute to Margy [hard &lsquo;g&rsquo;] DeLuca, the graduate secretary for the philosophy department at Bowling Green State University, who goes far above and beyond, personally handling alumni&rsquo;s letters every year. Everyone should be so lucky as to have a Margy in their corner.</p>
{% endblock %}
