{% extends "index.html" %}
{% block contents %}
<div class=beta>MARGY is currently in its second phase of beta testing. We are inviting certain departments to be added to the whitelist and encouraging applicants to those departments to use MARGY. During this period, we will be collecting minimal email data, solely for debugging purposes, all of which will be fully anonymized.<br><br>
<span class=u>Current Participants:</span><br>
The Rotman Institute of Philosophy at Western University &ndash; <a target='_blank' href="https://philjobs.org/job/show/6942">job ad</a><br><br>
Bug reports and feature requests should be posted as New Issues on <a target='_blank' href="https://github.com/davidfaraci/margy/issues">GitHub</a>.<br><br>
Other questions and comments to <a href="mailto:admin@margymail.com">admin@margymail.com</a>.</div>
<span class=lgap><br></span>
<p class=txt>Applicants on the academic job market spend thousands of dollars a year to have professional dossier services handle their confidential letters of recommendation. Some of this requires staff involvement: filling out forms, uploading to proprietary sites, etc. But a good deal of it is <span class=i>just sending emails.</span> The only reason a middleperson is necessary is because the emails need to include a confidential attachment.</p>

<p class=txt>MARGY replaces that middleperson with a <span class=i>free</span> automated system. Letter-writers upload letters to MARGY&rsquo;s secure server; applicants tell the system where to email those letters. Confidentiality is maintained via a <span class=i>whitelist</span>; the system will only send letters to email addresses that have been confirmed as being maintained by a relevant hiring entity.

<p class=txt>Why the tortured acronym? The name is a tribute to Margy [hard &lsquo;g&rsquo;] DeLuca, the graduate secretary for the philosophy department at Bowling Green State University, who goes far above and beyond, personally handling alumni&rsquo;s letters every year. Everyone should be so lucky as to have a Margy in their corner.</p>
{% endblock %}
