{% extends "index.html" %}
{% block contents %}
<p class=txt>Applicants on the academic job market spend thousands of dollars a year to have professional dossier services handle their confidential letters of recommendation. Some of this requires staff involvement: filling out forms, uploading to proprietary sites, etc. But a good deal of it is <span class=i>just sending emails.</span> The only reason a middleperson is necessary is because the emails need to include a confidential attachment.</p>

<p class=txt>MARGY replaces that middleperson with an automated system. Letter-writers upload letters to our secure server; applicants tell the system where to email those letters. Confidentiality is maintained via a <span class=i>whitelist</span>; the system will only send letters to email addresses that have been confirmed as being maintained by a relevant hiring entity.

<p class=txt>Why the tortured acronym? The name is a tribute to Margy [hard &lsquo;g&rsquo;] DeLuca, the graduate secretary for the philosophy department at Bowling Green State University, who goes far above and beyond, personally handling alumni&rsquo;s letters every year. Everyone should be so lucky as to have a Margy in their corner.</p>

<p class=txt><span class=b>BETA NOTE:</span> MARGY is currently in beta. You <span class=i>should not</span> use it to send confidential material. The site looks essentially the way it will once it's actually up and running, though note that various links go to places other than as marked. If you have any questions or suggestions, please direct them to <a href="mailto:admin@margybeta.davidfaraci.com">admin@margybeta.davidfaraci.com</a>.</p>
{% endblock %}
