{% extends "instructions.html" %}
{% block choice %}
<p class="txt b">How To...</p>
<p class="mspaced u">Upload a Letter</p>
<p class=spaced>Just go to <a href="http://margymail.com/upload">http://margymail.com/upload</a> or click the <span class=font>Upload</span> button above. You will be presented with a form asking you to input your name, the applicant&rsquo;s name (whom you wrote the letter for), and the applicant&rsquo;s email address, along with the letter as a PDF.</p>
<p class="mspaced u">Add an Address to the Whitelist</a>
<p class=spaced>To request that an email (or emails) be added to the whitelist, send a message to <a href="mailto:admin@margymail.com">admin@margymail.com</a>, Subject: Whitelist Addition, with that email address and a link to an official job ad <span class=i>which asks that letters be sent to that email address.</span></p>
<div class=beta>During beta testing, you can add your email address to the whitelist automatically by sending a blank email to <a href="mailto:whitelist@margymail.com">whitelist@margymail.com</a>.</div>
<div class=beta>Part of the function of beta testing is to find out what sorts of things should go here. If you have a suggestion, please send it to <a href="admin@margymail.com">admin@margymail.com</a>.
{% endblock %}
