<html>
<head>
<title>MARGY</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% if request.MOBILE %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobilesheet.css') }}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
{% endif %}
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

<script>
$(function() {
    $( ".hamburger" ).click(function() {
        $( ".menu" ).slideToggle( "fast" );
    });
});
</script>
</head>

<body>
{% if request.MOBILE %}
    <header>
    <button class="hamburger">&#9776;</button>
    </header>

    <div class="menu">
    <ul>
    <a href="/upload"><li>UPLOAD A LETTER</li></a>
    <a href="/instructions"><li>INSTRUCTIONS</li></a>
    <a href="/whitelist"><li>WHITELIST</li></a>
    <a href="/donate"><li>DONATE</li></a>
    <a href="/credits"><li>CREDITS</li></a>
    </ul>
    </div>
{% else %}
    <table class=topbar>
    <tr>
    <td class=mouse><a href="/upload"><button class=button>Upload a Letter</button></a>
    <span class=mouse>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a href="/instructions"><button class=button>Instructions</button></a>
    <span class=mouse>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a href="/whitelist"><button class=button>Whitelist</button></a>
    <span class=mouse>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a href="/donate"><button class=button>Donate</button></a>
    <span class=mouse>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a href="/credits"><button class=button>Credits</button></a></td>
    </tr>
    </table>
{% endif %}

<div class=page>
<p class=mtitle><a href="/">MARGY</a></p>
<p class=stitle><span class=b>M</span>anaging <span class=b>A</span>cademic <span class=b>R</span>ecommendations <span class=b>G</span>ratis <span class=b>Y</span>ay</p>
{% block contents %}
{% endblock %}
</div>
</body>
</html>
