{% extends "instructions.html" %}
{% block choice %}
<p class="txt b">Quick Instructions</p>
<ol class=txt>
    <li>Have your letter-writers upload their letters at <a href="upload">https://margymail.com/upload</a>.
    <li>Wait for emails from MARGY containing your letters&rsquo; <span class=i>mailto codes.</span>
    <li>Go to <a href="deliver">https://margymail.com/deliver</a> and enter your mailto codes and the email addresses to which you want them sent, or deliver a single letter by sending an email to <span class=i>mailto_code</span>@margymail.com with the relevant addresses in the email body.
    <li><p class=spaced>Wait for an automated email from MARGY, confirming which email addresses your letters have been sent to.</p>
</ol>
<p class=txt>We also recommend adding your email address to MARGY&rsquo;s email blast list, which we use to notify users of new features, outages, etc. You can add (or remove) your email address <a href="blastlist">here</a>.</p>
{% endblock %}
