{% extends "instructions.html" %}
{% block choice %}
<p class="txt b">Quick Instructions</p>
<ol class=txt>
    <li>Have your letter-writers upload their letters through <a href="upload"><span class=font>Upload a Letter</span></a>.
    <li>Wait for emails from MARGY containing your letters&rsquo; <span class=i>mailto codes.</span>
    <li>Make sure the addresses you want your letters sent to are on MARGY&rsquo;s <a href="whitelist"><span class=font>Whitelist</span></a>.
    <li>Go to <a href="deliver"><span class=font>Deliver Letters</span></a> and enter your mailto codes and the email addresses to which you want those letters sent.
    <li><p class=spaced>Wait for a confirmation email from MARGY.</p>
</ol>
<p class=txt>We also recommend adding your email address to MARGY&rsquo;s email blast list, which we use to notify users of new features, outages, etc. You can add (or remove) your email address <a href="blastlist">here</a>.</p>
{% endblock %}
