{% extends "instructions.html" %}
{% block choice %}
<p class="txt b">Quick Instructions</p>
<ol class=txt>
    <li>Have your letter-writer upload their letter at <a href="https://margymail.com/upload">https://margymail.com/upload</a>.
    <li>Wait for an email from MARGY containing your letter&rsquo;s <span class=i>mailto code.</span>
    <li>Send an email to <span class=i>your_mailto_code</span>@margymail.com. In the body of the email, include the email addresses to which you want that letter sent.
    <li><p class=spaced>Wait for an automated email from MARGY, confirming which email addresses your letters have been sent to.</p>
</ol>
{% endblock %}
