<html>
<head>
<title>Letter Received</title>
</head>
<body style="line-height: 1.3em;">

<p style="font-family: georgia; font-size: 1.1em; letter-spacing: .2px; margin: 0 0 1em 0;">Dear {{ afn }} {{ aln }},</p>
<p style="font-family: georgia; font-size: 1.1em; letter-spacing: .2px; margin: 0 0 1.7em 0;">MARGY has received a confidential letter of recommendation for you from {{ rfn }} {{ rln }}. To have the letter delivered to {email addresses}, send an email to <a style="text-decoration: none" href="mailto:{{ codename }}@margymail.com"> {{ codename }}@margymail.com</a> with {email addresses} in the email body. For more detailed instructions, visit <a style="text-decoration: none" href="http://margymail.com/instructions">http://margymail.com/instructions</a>. If you have further questions, please direct them to <a style="text-decoration: none" href="mailto:admin@margymail.com">admin@margymail.com</a>.</p>
<p><a href="http://margymail.com"><img style="width:170px; height:32px;" src="http://personal.bgsu.edu/~faracid/signature.png"></a></p>
</body>
</html>
