{% extends "index.html" %}
{% block contents %}
<p class=spaced>Use the form below to upload your confidential letter of recommendation. The system accepts <span class=u>only PDFs</span> of no more than 16 MB.</p>
<form id=upload action="/letter" method="post" enctype="multipart/form-data">
    <p>Letter-Writer&rsquo;s First and Last Name:<br>
        <input class=txtinput type=text name="rec_fname" id="rec_fname" required>&nbsp;&nbsp;<input class=txtinput type=text name="rec_lname" id="rec_lname" required></p>
    <p>Applicant&rsquo;s First and Last Name:<br>
        <input class=txtinput type=text name="app_fname" id="app_fname" required>&nbsp;&nbsp;<input class=txtinput type=text name="app_lname" id="app_lname" required></p>
    <p>Applicant&rsquo;s Email Address:<br><input class=txtinput type=email name="app_email" id="app_email" required></p>
    <p>Confirm Applicant&rsquo;s Email Address:<br><input class=txtinput type=email name="app_emailc" id="app_emailc" required></p>
    {% if request.MOBILE %}
        <p><label class=browse><input type="file" name="letter" id="letter" required><span>Attach File</span></label><p>
    {% else %}
        <p><input type="file" name="letter" id="letter" required><p>
    {% endif %}
    <span class=sgap><br></span>
    <button type="submit" class=upbutton>Submit</button>&nbsp;&nbsp;&nbsp;<img class=load src="https://margymail.com/storage/pulse.gif" alt='PULSE.GIF'>
</form>
{% block status %}
{% endblock %}
{% endblock %}
