{% extends "index.html" %}
{% block contents %}
<p class=txt>MARGY only sends letters of recommendation to email addresses on its whitelist, all of which have been verified as belonging to a hiring entity. The whitelist appears below in its entirety, for purposes of transparency.</p>

<p class=spaced>To request that an email address be added to the whitelist, please email <a href="mailto:admin@margybeta.davidfaraci.com">admin@margymail.com</a>, Subject: Whitelist Addition, with the email address you are requesting be added to the whitelist and a link to an official job ad <span class=i>which mentions that email address.</span></p>

<p class="b less">Current Whitelist:</p>

<!-- The data below is automatically read and displayed from whitelist.txt, which is what the server uses. -->

<p class=txt>
{{ data }}
</p>
{% endblock %}
