<html>
<head>
<title>Delivery Failed</title>
</head>
<body style="line-height: 1.3em;">

<p style="font-family: georgia; font-size: 1.1em; letter-spacing: .2px; margin: 0 0 1.7em 0;">MARGY received a request from this address, but was unable to complete the requested delivery as none of the addresses present are on MARGY&rsquo;s whitelist. For questions, or if you believe you received this email in error, please contact <a style="text-decoration: none" href="mailto:admin@margymail.com">admin@margymail.com</a>.</p>
<p><img style="width:170px; height:32px;" alt="" src='http://margymail.com/signature'></a></p>
</body>
</html>
