<html>
<head>
<title>Delivery Failed</title>
</head>
<body style="line-height: 1.3em;">

<p style="font-family: georgia; font-size: 1.1em; letter-spacing: .2px; margin: 0 0 1.7em 0;">MARGY received a request from this address, but was unable to complete the requested delivery as none of the addresses present are on MARGY&rsquo;s whitelist.</p>
<p><a href="http://margymail.com"><img style="width:170px; height:32px;" src="http://personal.bgsu.edu/~faracid/signature.png"></a></p>
</body>
</html>
